{{ with .Params.externalUrl }}
<a href="{{ . }}" target="_blank" rel="external" class="plucky-article-card">
{{ else }}
<a href="{{ .RelPermalink }}" class="plucky-article-card">
{{ end }}

  <article class="plucky-article-card-shell">
    {{- with $.Params.images -}}
      {{- range first 6 . }}
        <meta property="og:image" content="{{ . | absURL }}" />
      {{ end -}}
    {{- else -}}
      {{- with $.Site.Params.images }}
        <meta property="og:image" content="{{ index . 0 | absURL }}" />
      {{ end -}}
    {{- end }}

    {{ if and .Draft .Site.Params.article.showDraftLabel }}
      <span class="absolute top-0 right-0 m-2">
        {{ partial "badge.html" (i18n "article.draft" | emojify) }}
      </span>
    {{ end }}

    <div class="plucky-article-card-body">
      {{ with .Params.externalUrl }}
        <div class="plucky-article-card-title">
          {{ $.Title | emojify }}
          <span class="plucky-article-card-external">↗</span>
        </div>
      {{ else }}
        <div class="plucky-article-card-title">
          {{ .Title | emojify }}
        </div>
      {{ end }}

      <div class="plucky-article-card-meta">
        {{ partial "article-meta/basic.html" . }}
      </div>

      {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
        <div class="plucky-article-card-summary">
          {{ .Summary | plainify }}
        </div>
      {{ end }}
    </div>
  </article>
</a>
