{{ $documents := .RegularPages.ByWeight }}
{{ if gt (len $documents) 0 }}
  <section class="plucky-project-documents" aria-labelledby="project-documents-heading">
    <div class="plucky-project-documents-header">
      <p class="plucky-project-files-kicker">PROJECT DOCUMENTS</p>
      <h2 id="project-documents-heading">Documents</h2>
    </div>

    <ol class="plucky-project-document-list">
      {{ range $index, $document := $documents }}
        <li>
          <a class="plucky-project-document-link" href="{{ $document.RelPermalink }}">
            <span class="plucky-project-document-number">{{ printf "%02d" (add $index 1) }}</span>
            <span>{{ $document.Title | emojify }}</span>
          </a>
        </li>
      {{ end }}
    </ol>
  </section>
{{ end }}
