<div class="plucky-header-spacer"></div>

<div class="fixed inset-x-0 top-0 z-100">
  <div id="menu-blur" class="plucky-header-blur"></div>

  <div class="plucky-header-shell">
    {{ partial "header/basic.html" . }}
  </div>
</div>

{{ $backgroundBlur := resources.Get "js/background-blur.js" }}
{{ $backgroundBlur = $backgroundBlur
  | resources.Minify
  | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512")
}}

<script
  type="text/javascript"
  src="{{ $backgroundBlur.RelPermalink }}"
  integrity="{{ $backgroundBlur.Data.Integrity }}"
  data-blur-id="menu-blur">
</script>
