<div class="sticky top-0 z-100">
  <div
    id="menu-blur"
    class="absolute inset-0 opacity-100 border-b border-white/5
           bg-neutral-950/72 backdrop-blur-2xl backdrop-saturate-150">
  </div>

  <div class="plucky-header-shell relative">
    {{ partial "header/basic.html" . }}
  </div>
</div>

{{ $backgroundBlur := resources.Get "js/background-blur.js" }}
{{ $backgroundBlur = $backgroundBlur
  | resources.Minify
  | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512")
}}

<script
  type="text/javascript"
  src="{{ $backgroundBlur.RelPermalink }}"
  integrity="{{ $backgroundBlur.Data.Integrity }}"
  data-blur-id="menu-blur">
</script>
